body {
  /*justify-content: center;
  align-items: center;*/
  margin: 0px;
  padding: 0px;
  display: flex;
  color: #333333;
}

.nav-bar {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fa7d1e;
}

.nav-bar ul {
	display: flex;
	list-style: none;
}

.nav-bar a {
	text-decoration: none;
	padding: 0 10px 0 10px;
	color: #fa7d1e;
	font-size: 20px;
	font-family: sans-serif;
}

.nav-bar a:hover {
	background-color: #fa7d1e;
	color: white;
	font-size: 21px;
}

.nav-bar h1 {
	background-color: #fa7d1e;
	color: white;
	font-size: 50px;
	margin: 10px 30px 0 0;
	
	border-radius: 5px;
	text-align: center;
}

.header-div {
  background-color: #fa7d1e;
  height: 320px;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.header-div h1 {
  padding-left: 10px;
  width: 500px;
  color: white;
  font-size: 60px;
}

.header-div h1 span {
  color: black;
  font-size: 40px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: #fa7d1e;
}

.header-div img {
  height: 300px;
  width: 250px;
  margin: 150px 0 0 150px;
}

.circle-image {
  border-radius: 50%;
  border: solid 10px white;
  position: relative;
}

.about-div {
  position: relative;
  display: flex;
  margin: 70px 0 50px 0;
  justify-content: center;
  
}

.about {
  display: inline-block;
  position: relative;
}

.about-img{
	display:flex;
	justify-content: center;
}
.about img {
  display: flex;
  width: 350px;
  margin-bottom: 10px;
  padding-right: 50px;
  justify-content: center;
}



.about h1 {
  color: white;
  background-color: #fa7d1e;
  font-family: sans-serif;
  font-size: 50px;
  padding-left: 5px;
}

.about p {
  font-size: 30px;
}

.about a {
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  background-color: #fa7d1e;
  border-radius: 50px;
  text-decoration: none;
  padding: 0 20px 0 20px;
  box-shadow: 20px 20px 20px 20px #black;
}

.about a:hover {
  border: solid 3px #fa7d1e;
  background-color: white;
  color: #fa7d1e;
}

.cv {
	display: flex;
	justify-content: center;
}

.resume-div {
  margin: 50px;
  position: relative;
  /*justify-content: center;
  align-items: center;*/
  display: inline-block;
  
}

.h1-center {
	text-align: center;
}

.resume-div > p {
  font-size: 20px;
}

.resume-div > h1 {
  background-color: #fa7d1e;
  color: white;
  font-family: sans-serif;
}

.resume-card-main {
  position: relative;
  background-color: #f9f9f9;
}

.resume-card {
  border: 3px solid #fa7d1e;
  border-radius: 10px;
  display: inline-block;
  height: 200px;
}

/*@media screen and (max-width: 796px) {
  .resume-card {
    display: inline-block;
    width: 100%;
    margin-left: 2%;
    margin-top: 2%;
  }
}*/

.resume-card h1,
h2 {
  color: #fa7d1e;
  font-family: sans-serif;
}
.resume-card p {
  font-size: 20px;
}

.resume-card-h1 {
  margin: 50px 0 10px 0;
}
.work-card {
  
  font-family: sans-serif;
}

.work-card h3 {
  color: #fa7d1e;
  font-family: sans-serif;
}



.skill-div{
	display: flex;
	margin: 0 0 50px 0;
  justify-content: space-between;
}
/*.skill-div-card {
  width: 380px;
  display: inline-block;
  border: solid 5px #fa7d1e;
  
}*/

.footer {
  background-color: #fa7d1e;
  color: white;
  padding-top: 10px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.footer p {
  font-size: 20px;
}
